@charset "UTF-8";
/* ---------------------VARIABLES ------------------------------------------------------------------------------- */
/* FUENTES ------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* RESETS GENERALES ------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
section {
    font-size:0;
}
*/
a {
  color: inherit;
}

/* ---------------------MAPAS ------------------------------------------------------------------------------- */ /*-----MIXINES---------------------------------------------------------------*/ /* CLASES UTILITARIAS  ---------------------------------------------------------------------------------------- */
.color-rp {
  color: #4a47c7;
}

.color-rs {
  color: #f73656;
}

.color-r3 {
  color: #ffad5c;
}

.color-p-claro {
  color: #f8f9fa;
}

.color-p-oscuro {
  color: #2d3268;
}

.color-t-general {
  color: #1f2141;
}

.padd-y-chico {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padd-y-medio {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padd-y-grande {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.padd-x-chico {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padd-x-medio {
  padding-left: 4rem;
  padding-right: 4rem;
}

.padd-x-grande {
  padding-left: 6rem;
  padding-right: 6rem;
}

.bg-black {
  background-color: black;
}

.bg-color-rp {
  background-color: #4a47c7;
}

.bg-color-p-oscuro {
  background-color: #2d3268;
}

.redondear-chico {
  border-radius: 5px;
}

.redondear-medio {
  border-radius: 10px;
}

.redondear-grande {
  border-radius: 20px;
}

.redondear-semicirculo {
  border-radius: 50%;
}

/* SOBRE ESCRITURAS DE TITULOS Y PARRAFOS GENERALES ------------------------------------------------------------------------------- */
h1, h4, h3, h2 {
  text-decoration: none;
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #4a47c7;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  h3 {
    font-size: 1.8rem;
  }
}
p {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #1f2141;
}

/* SOBRESCRITURAS DE CLASES DE BOOTSTRAP GENERALES ------------------------------------------------------------------------------- */
.btn-primary {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  background-color: #4a47c7;
  border: 2px solid #6462e0;
  padding: 0.7rem 3rem 0.7rem 3rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 0px;
  width: auto;
}

.original-btn-primary-white {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #4a47c7;
  background-color: #fff;
  border: none;
  padding: 0.7rem 3rem 0.7rem 3rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
  width: auto;
}

.card-title {
  font-family: "Poppins", sans-serif;
  color: #4a47c7;
}

.card-text {
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
}

.text-body {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}

/* HEADER NAV ---------------------------------------------------------------------------------------- */
.header--logo {
  width: auto;
  height: 2.6rem;
  padding-left: 1rem;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Poppins", sans-serif; /* reemplaza Fuente de menú */
  color: #2d3268;
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-invertir-color {
  color: #f8f9fa;
}

header nav .container-fluid {
  display: flex;
  justify-content: center;
}
header nav .navbar-nav {
  flex-grow: 1;
  justify-content: center;
}
header nav div div .btn-primary:hover {
  background-color: #4d77ff;
}

/* MAIN ---------------------------------------------------------------------------------------------- */
/* HOME ---------------------------------------------------------------------------------------------- */
.original-inicio-section-bg { /* ANIMACION EN FONDO DE COLOR------------------------------------------------------------------ */
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  animation-name: cambioColor;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.edit-inicio-card-img {
  height: 18rem;
  object-fit: cover;
  transition: height 0.3s;
}

.edit-inicio-card-img:hover { /* Detalles de Transformacion ------------------------------------------------------------- */
  height: 24rem;
}

.original-inicio-med-div {
  border-radius: 20px;
  background-color: #4a47c7;
}

.original-inicio-card-icon {
  background-color: #AFEEEE;
  width: 4rem;
  height: 4rem;
  padding: 1rem 1rem;
  border-radius: 50%;
}

.edit-inicio-med-card-img {
  height: 2rem;
  object-fit: contain;
  width: 2rem;
}

.edit-inicio-med-card {
  border-radius: 10px;
  border: none;
}

.original-inicio-cardcolor-1, .original-inicio-cardcolor-3, .original-inicio-cardcolor-2 {
  background-color: #ffad5c;
  border-radius: 10px;
  height: 20rem;
  transition: height 0.3s;
}

.original-inicio-cardcolor-2 {
  background-color: #2d3268;
}

.original-inicio-cardcolor-3 {
  background-color: #f73656;
}

.original-inicio-cardcolor-1:hover, .original-inicio-cardcolor-2:hover, .original-inicio-cardcolor-3:hover { /* Detalles de Transformacion ------------------------------------------------------------- */
  height: 25rem;
  width: 100%;
}

/* NOTICIAS ---------------------------------------------------------------------------------------------- */
.original-noticias-section-bg {
  background-image: linear-gradient(to right, #4774c7, #426dc9, #4065c9, #405dca, #4354c9, #4850c8, #4d4cc7, #5247c6, #5847c6, #5d47c5, #6247c5, #6747c4);
}

.original-img-style-1 { /* ----------Incluyendo Mixin de Estilo de Imágen-------------------------------------------------- */
  height: 22rem;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  border: 3px solid #1f2141;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.transform1 {
  transform: skewY(10deg);
}

.original-img-style-2 {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* HERRAMIENTAS ---------------------------------------------------------------------------------------------- */
.original-img-style-3 { /* ----------Incluyendo Mixin de Estilo de Imágen-------------------------------------------------- */
  height: 20rem;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  border: 3px solid #1f2141;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

.original-herramientas-section-bg {
  background-color: rgba(0, 0, 0, 0.911);
}

.original-btn-subnav-1 { /* ----------Incluyendo Mixin de Estilo de BOTONES -------------------------------------------------- */
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000000;
  background-color: #f73656;
  border: none;
  padding: 1.2rem 0 1.2rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.original-btn-subnav-2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000000;
  background-color: #4a47c7;
  border: none;
  padding: 1.2rem 0 1.2rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.original-btn-subnav-3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000000;
  background-color: #ffad5c;
  border: none;
  padding: 1.2rem 0 1.2rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.original-btn-subnav-4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000000;
  background-color: #f8f9fa;
  border: none;
  padding: 1.2rem 0 1.2rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.original-btn-subnav-5 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000000;
  background-color: #b0c5ff;
  border: none;
  padding: 1.2rem 0 1.2rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.original-btn-subnav-6 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000000;
  background-color: #AFEEEE;
  border: none;
  padding: 1.2rem 0 1.2rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.original-img-style-4 {
  height: 3rem;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  border: 3px solid #1f2141;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
  width: 5rem;
  border: none;
}

.original-img-style-5 {
  width: 60%;
  height: 5rem;
  object-fit: contain;
  animation-name: iconCrece;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.directory-section .list-group-item {
  border: 1px solid #3d414c;
}

/* CONTACTO ---------------------------------------------------- */
@media screen and (max-width: 576px) {
  .h-custom {
    font-size: 1.6rem;
  }
}
.original-contacto-section {
  padding-left: 10%;
  padding-right: 10%;
}

.formSections {
  box-shadow: 5px 10px 80px rgba(0, 0, 0, 0.15);
}

/* TUTORIALES ------------------------------------------------------------- */
.topSectionsTutoriales { /* ÉSTA SECCION LE DI ESTILO CASI SIN USO DE BOOTSTRAP para poder tener cosas que ANIDAR con Nesting */
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #080044;
}
.topSectionsTutoriales div {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.topSectionsTutoriales div h1, .topSectionsTutoriales div h2, .topSectionsTutoriales div h3, .topSectionsTutoriales div h4 {
  font-size: 2.7rem;
  color: #4a47c7;
}
@media screen and (max-width: 576px) {
  .topSectionsTutoriales div h1, .topSectionsTutoriales div h2, .topSectionsTutoriales div h3, .topSectionsTutoriales div h4 {
    font-size: 2.1rem;
  }
}
.topSectionsTutoriales div p {
  font-size: 1.2rem;
  color: #fcfaff;
}
@media screen and (max-width: 576px) {
  .topSectionsTutoriales div p {
    font-size: 1rem;
  }
}
.topSectionsTutoriales img {
  height: 13rem;
}

.hover-1 {
  background-color: none;
}

.hover-1:hover { /* Detalles de Transformacion ------------------------------------------------------------- */
  background-color: #ffad5c;
}

/* FOOTER ---------------------------------------------------------------------------------------------- */
.footerGeneral {
  background-color: #2d3268;
}

.contenidoFooter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #f0e6ff;
  font-size: 0.9rem;
  line-height: 2.3;
}
.contenidoFooter a {
  text-decoration: none;
}

@keyframes cambioColor {
  0% {
    background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  5% {
    background: linear-gradient(-198deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  10% {
    background: linear-gradient(-171deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  15% {
    background: linear-gradient(-144deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  20% {
    background: linear-gradient(-117deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  25% {
    background: linear-gradient(-90deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  30% {
    background: linear-gradient(-63deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  35% {
    background: linear-gradient(-36deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  40% {
    background: linear-gradient(-9deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  45% {
    background: linear-gradient(18deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  50% {
    background: linear-gradient(45deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  55% {
    background: linear-gradient(72deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  60% {
    background: linear-gradient(99deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  65% {
    background: linear-gradient(126deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  70% {
    background: linear-gradient(153deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  75% {
    background: linear-gradient(180deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  80% {
    background: linear-gradient(-153deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  85% {
    background: linear-gradient(-126deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  90% {
    background: linear-gradient(-99deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  95% {
    background: linear-gradient(-72deg, #E3FDF5 0%, #FFE6FA 100%);
  }
  100% {
    background: linear-gradient(-45deg, #E3FDF5 0%, #FFE6FA 100%);
  }
}
@keyframes iconCrece {
  0% {
    height: 5rem;
  }
  5% {
    height: 5.1rem;
  }
  10% {
    height: 5.2rem;
  }
  15% {
    height: 5.3rem;
  }
  20% {
    height: 5.4rem;
  }
  25% {
    height: 5.5rem;
  }
  30% {
    height: 5.6rem;
  }
  35% {
    height: 5.7rem;
  }
  40% {
    height: 5.8rem;
  }
  45% {
    height: 5.9rem;
  }
  50% {
    height: 6rem;
  }
  55% {
    height: 5.9rem;
  }
  60% {
    height: 5.8rem;
  }
  65% {
    height: 5.7rem;
  }
  70% {
    height: 5.6rem;
  }
  75% {
    height: 5.5rem;
  }
  80% {
    height: 5.4rem;
  }
  85% {
    height: 5.3rem;
  }
  90% {
    height: 5.2rem;
  }
  100% {
    height: 5.1rem;
  }
}/*# sourceMappingURL=estilos.css.map */