@charset "UTF-8";
/* ---------------------VARIABLES ------------------------------------------------------------------------------- */
/* FUENTES ------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* RESETS GENERALES ------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
section {
    font-size:0;
}
*/
a {
  color: inherit;
}

/*-----MIXINES---------------------------------------------------------------*/
/*
body * {
    border: 1px solid red !important;
}*/
/* ---------------------MAPAS ------------------------------------------------------------------------------- */
/* TITULOS Y PARRAFOS GENERALES ------------------------------------------------------------------------------- */
h1, h4, h3, h2 {
  text-decoration: none;
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #4a47c7;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  h3 {
    font-size: 1.8rem;
  }
}
p {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #1f2141;
}

/* CLASES UTILITARIAS  ---------------------------------------------------------------------------------------- */
.color-rp {
  color: #4a47c7;
}

.color-rs {
  color: #f73656;
}

.color-r3 {
  color: #ffad5c;
}

.color-p-claro {
  color: #f8f9fa;
}

.color-p-oscuro {
  color: #2d3268;
}

.color-t-general {
  color: #1f2141;
}

.padd-y-chico {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padd-y-medio {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padd-y-grande {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.padd-x-chico {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padd-x-medio {
  padding-left: 4rem;
  padding-right: 4rem;
}

.padd-x-grande {
  padding-left: 6rem;
  padding-right: 6rem;
}

.bg-black {
  background-color: black;
}

/* SOBRESCRITURAS DE CLASES DE BOOTSTRAP GENERALES ------------------------------------------------------------------------------- */
.btn-primary {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  background-color: #4a47c7;
  border: 2px solid #6462e0;
  padding: 0.7rem 3rem 0.7rem 3rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 0px;
  width: auto;
}

.original-btn-primary-white {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #4a47c7;
  background-color: #fff;
  border: none;
  padding: 0.7rem 3rem 0.7rem 3rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
  width: auto;
}

.card-title {
  font-family: "Poppins", sans-serif;
  color: #4a47c7;
}

.card-text {
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
}

.text-body {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}

/* HEADER NAV ---------------------------------------------------------------------------------------- */
.header--logo {
  width: auto;
  height: 2.6rem;
  padding-left: 1rem;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Poppins", sans-serif; /* reemplaza Fuente de menú */
  color: #2d3268;
  font-weight: 600;
}

header nav .container-fluid {
  display: flex;
  justify-content: center;
}
header nav .navbar-nav {
  flex-grow: 1;
  justify-content: center;
}
header nav div div .btn-primary:hover {
  background-color: #4d77ff;
}

/* MAIN ---------------------------------------------------------------------------------------------- */
/* HOME ---------------------------------------------------------------------------------------------- */
.original-inicio-section-bg {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.edit-inicio-card-img {
  height: 18rem;
  object-fit: cover;
}

.original-inicio-med-div {
  border-radius: 20px;
  background-color: #4a47c7;
}

.original-inicio-card-icon {
  background-color: #AFEEEE;
  width: 4rem;
  height: 4rem;
  padding: 1rem 1rem;
  border-radius: 50%;
}

.edit-inicio-med-card-img {
  height: 2rem;
  object-fit: contain;
  width: 2rem;
}

.edit-inicio-med-card {
  border-radius: 10px;
  border: none;
}

.original-inicio-cardcolor-1, .original-inicio-cardcolor-3, .original-inicio-cardcolor-2 {
  background-color: #ffad5c;
  border-radius: 10px;
  height: 20rem;
}

.original-inicio-cardcolor-2 {
  background-color: #2d3268;
}

.original-inicio-cardcolor-3 {
  background-color: #f73656;
}

/* NOTICIAS ---------------------------------------------------------------------------------------------- */
.original-noticias-section-bg {
  background-image: linear-gradient(to right, #4774c7, #426dc9, #4065c9, #405dca, #4354c9, #4850c8, #4d4cc7, #5247c6, #5847c6, #5d47c5, #6247c5, #6747c4);
}

.original-img-style-1 { /* ----------Incluyendo Mixin de Estilo de Imágen-------------------------------------------------- */
  height: 22rem;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  border: 3px solid #1f2141;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

.original-img-style-2 {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* HERRAMIENTAS ---------------------------------------------------------------------------------------------- */
.original-img-style-3 { /* ----------Incluyendo Mixin de Estilo de Imágen-------------------------------------------------- */
  height: 20rem;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  border: 3px solid #1f2141;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

.original-herramientas-section-bg {
  background-color: rgba(0, 0, 0, 0.911);
}

.original-btn-subnav-1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000000;
  background-color: #f73656;
  border: none;
  padding: 1.2rem 0 1.2rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.original-btn-subnav-2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000000;
  background-color: #4a47c7;
  border: none;
  padding: 1.2rem 0 1.2rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.original-btn-subnav-3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000000;
  background-color: #ffad5c;
  border: none;
  padding: 1.2rem 0 1.2rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.original-btn-subnav-4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000000;
  background-color: #f8f9fa;
  border: none;
  padding: 1.2rem 0 1.2rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.original-btn-subnav-5 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000000;
  background-color: #b0c5ff;
  border: none;
  padding: 1.2rem 0 1.2rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.original-btn-subnav-6 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000000;
  background-color: #AFEEEE;
  border: none;
  padding: 1.2rem 0 1.2rem 0;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 6px;
}

.original-img-style-4 {
  height: 3rem;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  border: 3px solid #1f2141;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
  width: 5rem;
  border: none;
}

.original-img-style-5 {
  width: 60%;
  height: 5rem;
  object-fit: contain;
}

.directory-section .list-group-item {
  border: 1px solid #3d414c;
}

/* CONTACTO ---------------------------------------------------- */
/* VERSION ANTIGUA - Pendiente de actualizar a Bootstrap */
.original-contacto-section {
  padding-left: 10%;
  padding-right: 10%;
}

.formSections {
  border-radius: 10px;
}

/* TUTORIALES ------------------------------------------------------------- */
/* VERSION ANTIGUA - Pendiente de actualizar a Bootstrap */
.topSectionsTutoriales {
  width: 100%;
  text-align: center;
  padding-bottom: 4%;
  padding-top: 1%;
  background-color: #1f2141;
  background-image: url(https://www.marketingaiinstitute.com/hs-fs/hubfs/2022%20Website%20Redesign/Background%20Graphics/MAII_Backgrounds_hexagonal-wave.jpg?width=1600&height=900&name=MAII_Backgrounds_hexagonal-wave.jpg);
  background-size: cover;
  background-blend-mode: overlay;
}

.topSectionsTutoriales div {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 2%;
}

.topSectionsTutoriales p {
  font-size: 23px;
  color: #fcfaff;
}

.topSectionsTutoriales h1, .topSectionsTutoriales h2, .topSectionsTutoriales h3, .topSectionsTutoriales h4 {
  font-size: 50px;
  color: #4a47c7;
}

.tutorialesTemas {
  padding-top: 3%;
}

.tutorialesTemas div {
  background-color: #4a47c7;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffad5c;
  display: inline-block;
  width: 19%;
  height: 90px;
  vertical-align: middle;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  border-radius: 5px;
}

.medSectionsTutoriales1 {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  margin: 0 auto;
  padding: 1% 5px 5% 3%;
  text-align: left;
}

.medSectionsTutoriales2 {
  display: inline-block;
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
  padding: 100px 4% 2% 4%;
  text-align: left;
}

/* FOOTER ---------------------------------------------------------------------------------------------- */
.footerGeneral {
  background-color: #2d3268;
}

.contenidoFooter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #f0e6ff;
  font-size: 0.9rem;
  line-height: 2.3;
}
.contenidoFooter a {
  text-decoration: none;
}/*# sourceMappingURL=estilos.css.map */