@charset "UTF-8";
/* FUENTES ------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* RESETS GENERALES ------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  font-size: 0;
}

a {
  color: inherit;
}

/* ---------------------VARIABLES ------------------------------------------------------------------------------- */
/* TITULOS Y PARRAFOS GENERALES ------------------------------------------------------------------------------- */
h1 {
  text-decoration: none;
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #4a47c7;
}

h2 {
  text-decoration: none;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #4a47c7;
}

h3 {
  text-decoration: none;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #4a47c7;
}

h4 {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #4a47c7;
}

@media screen and (min-width: 992px) {
  h3 {
    font-size: 1.8rem;
  }
}
p {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #1f2141;
}

/* SOBRESCRITURAS DE CLASES DE BOOTSTRAP GENERALES ------------------------------------------------------------------------------- */
.btn-primary {
  font-family: "Poppins", sans-serif; /* reemplaza Fuente de botón suscribirse */
  background-color: #4a47c7;
  border-color: #2d3268;
}

.original-btn-primary-white {
  font-family: "Poppins", sans-serif; /* reemplaza Fuente de botón suscribirse */
  background-color: #ffffff;
  color: #4a47c7;
  border: none;
  font-weight: 500;
}

.card-title {
  font-family: "Poppins", sans-serif;
  color: #4a47c7;
  font-weight: 800;
}

.card-text {
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
}

.text-body {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}

/* HEADER NAV ---------------------------------------------------------------------------------------- */
.header--logo {
  width: auto;
  height: 2.6rem;
  padding-left: 1rem;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Poppins", sans-serif; /* reemplaza Fuente de menú */
  color: #2d3268;
  font-weight: 600;
}

header nav div div .btn-primary:hover {
  background-color: #4d77ff;
}

header nav .container-fluid {
  display: flex;
  justify-content: center;
}

header nav .navbar-nav {
  flex-grow: 1;
  justify-content: center;
}

/* MAIN ---------------------------------------------------------------------------------------------- */
/* HOME ---------------------------------------------------------------------------------------------- */
.original-inicio-section-bg {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.edit-inicio-card-img {
  height: 18rem;
  object-fit: cover;
}

.original-inicio-med-div {
  border-radius: 20px;
  background-color: #4a47c7;
}

.original-inicio-card-icon {
  background-color: #AFEEEE;
  width: 4rem;
  height: 4rem;
  padding: 1rem 1rem;
  border-radius: 50%;
}

.edit-inicio-med-card-img {
  height: 2rem;
  object-fit: contain;
  width: 2rem;
}

.edit-inicio-med-card {
  border-radius: 10px;
  border: none;
}

.original-inicio-cardcolor-1 {
  background-color: #ffad5c;
  border-radius: 10px;
  height: 20rem;
}

.original-inicio-cardcolor-2 {
  background-color: #2d3268;
  border-radius: 10px;
  height: 20rem;
}

.original-inicio-cardcolor-3 {
  background-color: #f73656;
  border-radius: 10px;
  height: 20rem;
}

/* NOTICIAS ---------------------------------------------------------------------------------------------- */
.original-noticias-section-bg {
  background-image: linear-gradient(to right, #4774c7, #426dc9, #4065c9, #405dca, #4354c9, #4850c8, #4d4cc7, #5247c6, #5847c6, #5d47c5, #6247c5, #6747c4);
}

.original-img-style-1 {
  height: 22rem;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  border: 3px solid #1f2141;
}

.original-img-style-2 {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* CONTACTO ---------------------------------------------------- */
/* VERSION ANTIGUA - Pendiente de actualizar a Bootstrap */
.seccionCentrada {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 8%;
}

.seccionCentrada p {
  font-size: 22px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
  color: #1f2141;
  font-weight: 700;
}

.seccionCentrada H1 {
  font-size: 50px;
  padding-left: 10%;
  padding-right: 10%;
  color: #4a47c7;
}

.formSections {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.formularioGeneral {
  background-color: #ffad5c;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-left: 10%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #1f2141;
}

.formularioGeneral input, textarea {
  width: 80%;
  padding: 5px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #1f2141;
  border-radius: 5px;
  border: none;
  background-color: #ffe7cf;
  text-align: left;
}

/* HERRAMIENTAS ------------------------------------------------------------------ */
/* VERSION ANTIGUA - Pendiente de actualizar a Bootstrap */
.topSectionsHerramientas {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 10%;
}

.topSectionsHerramientas p {
  font-size: 21px;
  padding-left: 10%;
  padding-right: 10%;
}

.topSectionsHerramientas H1 {
  font-size: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

.topSectionsHerramientas img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  border: 3px solid #1f2141;
}

.medSectionsHerramientas1 {
  display: inline-block;
  box-sizing: border-box;
  width: 20%;
  vertical-align: middle;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 3%;
}

.medSectionsHerramientas1 img {
  width: 60%;
  float: right;
  padding-bottom: 20px;
}

.medSectionsHerramientas2 {
  display: inline-block;
  box-sizing: border-box;
  width: 35%;
  vertical-align: middle;
  padding-left: 3%;
  padding-right: 5%;
  padding-bottom: 20px;
  padding-top: 3%;
}

.medSectionsHerramientas2 p {
  font-size: 18px;
  font-weight: 500;
  color: #2d3268;
}

.medSectionsHerramientas2 h4 {
  font-size: 28px;
  color: #f73656;
}

.medSectionsHerramientas3 {
  display: inline-block;
  box-sizing: border-box;
  width: 35%;
  vertical-align: middle;
  padding-left: 3%;
  padding-right: 5%;
  padding-bottom: 40px;
  padding-top: 5%;
}

.medSectionsHerramientas3 li {
  list-style: disc;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #2d3268;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;
  background-color: #f1e7ff;
  border-radius: 10px;
  text-align: left;
}

.seccionHerramientas1 {
  background-color: #fbf8ff;
  padding-bottom: 10%;
}

.seccionHerramientas2 {
  background-color: #f6f0ff;
  padding-bottom: 2%;
}

/* TUTORIALES ------------------------------------------------------------- */
/* VERSION ANTIGUA - Pendiente de actualizar a Bootstrap */
.topSectionsTutoriales {
  width: 100%;
  text-align: center;
  padding-bottom: 4%;
  padding-top: 1%;
  background-color: #1f2141;
  background-image: url(https://www.marketingaiinstitute.com/hs-fs/hubfs/2022%20Website%20Redesign/Background%20Graphics/MAII_Backgrounds_hexagonal-wave.jpg?width=1600&height=900&name=MAII_Backgrounds_hexagonal-wave.jpg);
  background-size: cover;
  background-blend-mode: overlay;
}

.topSectionsTutoriales div {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 2%;
}

.topSectionsTutoriales p {
  font-size: 23px;
  color: #fcfaff;
}

.topSectionsTutoriales h1 {
  font-size: 50px;
  color: #4a47c7;
}

.tutorialesTemas {
  padding-top: 3%;
}

.tutorialesTemas div {
  background-color: #4a47c7;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffad5c;
  display: inline-block;
  width: 19%;
  height: 90px;
  vertical-align: middle;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  border-radius: 5px;
}

.medSectionsTutoriales1 {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  margin: 0 auto;
  padding: 1% 5px 5% 3%;
  text-align: left;
}

.medSectionsTutoriales2 {
  display: inline-block;
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
  padding: 100px 4% 2% 4%;
  text-align: left;
}

/* FOOTER ---------------------------------------------------------------------------------------------- */
.footerGeneral {
  background-color: #2d3268;
}

.contenidoFooter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #f0e6ff;
  font-size: 0.9rem;
  line-height: 2.3;
}

.contenidoFooter a {
  text-decoration: none;
}/*# sourceMappingURL=estilos.css.map */