
@keyframes cambioColor {
    0%   {background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);}
  10%  {background: linear-gradient(-225deg, #D2F6F2 0%, #FFECF7 100%);}
  20%  {background: linear-gradient(-225deg, #B6F0F4 0%, #FFDFF4 100%);}
  30%  {background: linear-gradient(-225deg, #9AEAF7 0%, #FFD2F2 100%);}
  40%  {background: linear-gradient(-225deg, #7EE4F9 0%, #FFC4EF 100%);}
  50%  {background: linear-gradient(-225deg, #51b4ee 0%, #a788e4 100%);}
  60%  {background: linear-gradient(-225deg, #7EE4F9 0%, #FFC4EF 100%);}
  70%  {background: linear-gradient(-225deg, #9AEAF7 0%, #FFD2F2 100%);}
  80%  {background: linear-gradient(-225deg, #B6F0F4 0%, #FFDFF4 100%);}
  90%  {background: linear-gradient(-225deg, #D2F6F2 0%, #FFECF7 100%);}
  100% {background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);}
}