
/* MAIN ---------------------------------------------------------------------------------------------- */

/* HOME ---------------------------------------------------------------------------------------------- */
.original-inicio-section-bg { /* ANIMACION EN FONDO DE COLOR------------------------------------------------------------------ */
    background-image: $color-gradiente-primario;
    animation-name: cambioColor;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.edit-inicio-card-img {
    height: 18rem;
    object-fit: cover;
    transition: height 0.3s;
}

.edit-inicio-card-img:hover{  /* Detalles de Transformacion ------------------------------------------------------------- */
    height: 24rem;
}

.original-inicio-med-div {
    border-radius: map-get($borde-radios, redondear-grande);
    background-color: $color-resalte-principal;
}

.original-inicio-card-icon {
    background-color: $color-aux-2;
    width: 4rem;
    height: 4rem;
    padding: 1rem 1rem;
    border-radius: map-get($borde-radios, redondear-semicirculo);
}

.edit-inicio-med-card-img {
    height: 2rem;
    object-fit: contain;
    width: 2rem;
}

.edit-inicio-med-card {
    border-radius: map-get($borde-radios, redondear-medio);
    border: none;
}

.original-inicio-cardcolor-1 {
    background-color: $color-terciario;
    border-radius: map-get($borde-radios, redondear-medio);
    height: 20rem;
    transition: height 0.3s;
}

.original-inicio-cardcolor-2 {
    @extend .original-inicio-cardcolor-1;
    background-color: $color-paleta-oscuro;
}

.original-inicio-cardcolor-3 {
    @extend .original-inicio-cardcolor-1;
    background-color: $color-resalte-secundario;
}

.original-inicio-cardcolor-1:hover{   /* Detalles de Transformacion ------------------------------------------------------------- */
    height: 25rem;
    width: 100%;
}

/* NOTICIAS ---------------------------------------------------------------------------------------------- */

.original-noticias-section-bg {
    background-image: linear-gradient(to right, #4774c7, #426dc9, #4065c9, #405dca, #4354c9, #4850c8, #4d4cc7, #5247c6, #5847c6, #5d47c5, #6247c5, #6747c4);
}

.original-img-style-1 {     /* ----------Incluyendo Mixin de Estilo de Imágen-------------------------------------------------- */
    @include original-img-style-cover(22rem);
    object-fit: cover;
}

.transform1 {
    transform: skewY(10deg);
}

.original-img-style-2 {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* HERRAMIENTAS ---------------------------------------------------------------------------------------------- */

.original-img-style-3 {     /* ----------Incluyendo Mixin de Estilo de Imágen-------------------------------------------------- */
    @include original-img-style-cover(20rem);
}

.original-herramientas-section-bg {
    background-color: rgba(0, 0, 0, 0.911);
}

.original-btn-subnav-1 {    /* ----------Incluyendo Mixin de Estilo de BOTONES -------------------------------------------------- */
    @include original-btn-custom($bg-color:$color-resalte-secundario,$estilo-borde:none,$padding-y:1.2rem);
}

.original-btn-subnav-2 {
    @include original-btn-custom($bg-color:$color-resalte-principal,$estilo-borde:none,$padding-y:1.2rem);
}

.original-btn-subnav-3 {
    @include original-btn-custom($bg-color:$color-terciario,$estilo-borde:none,$padding-y:1.2rem);
}

.original-btn-subnav-4 {
    @include original-btn-custom($bg-color:$color-paleta-claro,$estilo-borde:none,$padding-y:1.2rem);
}

.original-btn-subnav-5 {
    @include original-btn-custom($bg-color:$color-aux-3,$estilo-borde:none,$padding-y:1.2rem);
}

.original-btn-subnav-6 {
    @include original-btn-custom($bg-color:$color-aux-2,$estilo-borde:none,$padding-y:1.2rem);
}

.original-img-style-4 {     
    @include original-img-style-cover(3rem);
    width: 5rem;
    border: none;
}

.original-img-style-5 {     
    width: 60%;
    height: 5rem;
    object-fit: contain;
}

.directory-section {
    .list-group-item {
        border: 1px solid $color-aux-4;
    }
}


/* CONTACTO ---------------------------------------------------- */

@media screen and (max-width: 576px) {
    .h-custom{
        font-size: map-get($fuente-tamaños, medio-grande);
    }
}


.original-contacto-section {
    padding-left: 10%;
    padding-right: 10%;
}

.formSections {
    border-radius: map-get($borde-radios, redondear-medio);
}

/* TUTORIALES ------------------------------------------------------------- */


.topSectionsTutoriales{ /* ÉSTA SECCION LE DI ESTILO CASI SIN USO DE BOOTSTRAP para poder tener cosas que ANIDAR con Nesting */
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #080044;
    div{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        h1{
            font-size: 2.7rem;
            color: $color-resalte-principal;
            @media screen and (max-width: 576px) {
                font-size: 2.1rem;
            }
        }
        p{
            font-size: 1.2rem;
            color: #fcfaff;
            @media screen and (max-width: 576px) {
                font-size: 1rem;
            }
        }
    }
    img{
        height: 13rem;
    }
}

.hover-1 {
    background-color: none;
}

.hover-1:hover { /* Detalles de Transformacion ------------------------------------------------------------- */
    background-color: $color-terciario;
}
