/* SOBRE ESCRITURAS DE TITULOS Y PARRAFOS GENERALES ------------------------------------------------------------------------------- */
h1{
    text-decoration: none;
     font-size: map-get($fuente-tamaños, extra-grande);
     font-family: $fuente-resalte;
     font-weight: map-get($fuente-grosores, super-bold);
     color:$color-resalte-principal;
}

h2{
    @extend h1;
     font-size: map-get($fuente-tamaños, medio-grande);
     font-weight: map-get($fuente-grosores, bold);
}

h3{
    @extend h1;
     font-size: map-get($fuente-tamaños, super-grande);
     font-weight: map-get($fuente-grosores, bold);
}

h4{
    @extend h1;
     font-size: map-get($fuente-tamaños, medio-grande);
     font-weight: map-get($fuente-grosores, bold);
}

@media screen and (min-width: 992px) {
    h3{
        font-size: map-get($fuente-tamaños, grande);
    }
}

 p{
    text-decoration: none;
     font-size: map-get($fuente-tamaños, medio);
     font-family: $fuente-contenido;
     font-weight: 500;
     color:$color-texto-general;
}


/* SOBRESCRITURAS DE CLASES DE BOOTSTRAP GENERALES ------------------------------------------------------------------------------- */

.btn-primary {
    @include original-btn-custom ($color:#fff,$grosor:500,$padding-x:3rem);
    margin-bottom: 0px;
    width: auto;
}

.original-btn-primary-white {
    @include original-btn-custom ($color:$color-resalte-principal,$bg-color:#fff,$estilo-borde:none,$padding-x:3rem);
    width: auto;
}

.card-title {
    font-family: $fuente-resalte;
    color: $color-resalte-principal;
}

.card-text {
    font-family: $fuente-contenido;
    font-size: 0.95rem;
}

.text-body {
    font-family: $fuente-contenido;
    font-size: 0.8rem;
}