
/* ---------------------VARIABLES ------------------------------------------------------------------------------- */ 

$color-resalte-principal: #4a47c7;
$color-resalte-secundario: #f73656;
$color-terciario: #ffad5c;
$color-texto-general: #1f2141;
$color-paleta-oscuro: #2d3268;
$color-paleta-claro: #f8f9fa;
$color-aux-1: #6462e0;
$color-aux-2: #AFEEEE;
$color-aux-3: #b0c5ff;
$color-aux-4: #3d414c;
$color-gradiente-primario: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);

$fuente-resalte: 'Poppins', sans-serif;
$fuente-contenido: 'Inter', sans-serif;
